.noSelect {
  -webkit-user-select: none;
  user-select: none;
}
* {
  box-sizing: border-box;
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
}
html,
body,
ul,
li,
p,
span,
img {
  margin: 0px;
  padding: 0px;
}
html,
body {
  height: 100%;
  width: 100%;
}
a,
span,
input,
button,
.btn {
  text-decoration: none;
  outline: none;
}
a:hover,
span:hover,
input:hover,
button:hover,
.btn:hover,
a:active,
span:active,
input:active,
button:active,
.btn:active,
a:focus,
span:focus,
input:focus,
button:focus,
.btn:focus,
a:focus:active,
span:focus:active,
input:focus:active,
button:focus:active,
.btn:focus:active {
  text-decoration: none;
  outline: none;
}
ul,
li {
  list-style: none;
}
.formDiv_2 {
  padding: 10px 0px;
}
.formDiv_2:before,
.formDiv_2:after {
  content: '';
  display: table;
}
.formDiv_2:after {
  clear: both;
}
.formDiv_2 .input-group {
  width: 50%;
  padding: 0px 15px;
  margin-bottom: 15px;
  float: left;
}
.formDiv_3 {
  overflow: hidden;
}
.formDiv_3 .input-group {
  width: 33.33%;
  float: left;
  padding: 0px 15px;
  margin-bottom: 15px;
}
.formDiv_4 {
  overflow: hidden;
}
.formDiv_4 .input-group {
  width: 25%;
  float: left;
  padding: 0px 15px;
  margin-bottom: 15px;
}
